@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #f8f9fa; /* Màu nền xám nhạt hiện đại */
  color: #333;
}

.app-admin {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}