.sidebar {
    width: 240px;
    background-color: white;
    border-right: 1px solid #eee;
    padding-top: 30px;
}

.sidebar-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    padding: 12px 18px;
    border: 1px solid #eee;
    border-right: 0;
    border-radius: 8px 0 0 8px;
    text-decoration: none;
    color: #666;
    font-weight: 500;
    transition: 0.2s;
}

.sidebar-option:hover {
    background-color: #fcfcfc;
    color: #ff4c24;
}

.sidebar-option.active {
    background-color: #fff0ed;
    border-color: #ff4c24;
    color: #ff4c24;
}