@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --body-color: #1a1a1a;
  --text-color: #ffffff;
  --border-color: #a9a9a9;
  --sidebar-active: #fff4f2;
}

.lightcolors {
  --body-color: #f4f4f4;
  --text-color: #333333;
  --border-color: #e2e2e2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--border-color);
}

.app-content {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}